<div id="emp-list-card">
  <h1>Employee Management</h1>
  <div id="emp-dis">
    <p>Manage all your existing employees or add a new employee</p>

    <button routerLink="/addemployee" mat-raised-button color="primary">
      <mat-icon>add_circle</mat-icon>add new employee
    </button>
  </div>
  <br />

  <table
    mat-table
    [dataSource]="employees"
    class="mat-elevation-z8"
    matTooltip="Double   click  employee to view details"
    matTooltipHideDelay="100"
  >
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef>No</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <mat-text-column name="firstname"></mat-text-column>

    <mat-text-column name="lastname"></mat-text-column>

    <mat-text-column name="email"></mat-text-column>
    <mat-text-column name="gender"></mat-text-column>

    <mat-text-column name="salary"></mat-text-column>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let employee">
        <button
          (click)="deleteEmployee(employee.id)"
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          (click)="updateEmployee(employee)"
          mat-icon-button
          color="accent"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let employee; columns: displayedColumns"
      (dblclick)="onRowClick(employee)"
    ></tr>
  </table>
</div>
