<div>
  <form #addEmployeeForm="ngForm" (ngSubmit)="onSubmit()" class="sign-form">
    <mat-form-field class="example-full-width">
      <mat-label>Firstname</mat-label>
      <input
        required
        type="text"
        matInput
        placeholder="Ex. Jhon"
        name="firstname"
        [(ngModel)]="employee.firstname"
        #firstname="ngModel"
      />
      <mat-error
        *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
      >
        Please enter a valid firstname.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Lastname</mat-label>
      <input
        type="text"
        matInput
        placeholder="Ex. Doe"
        name="lastname"
        [(ngModel)]="employee.lastname"
        #lastname="ngModel"
        required
      />
      <mat-error
        *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
      >
        Please enter a valid lastname.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        name="email"
        matInput
        [(ngModel)]="employee.email"
        #email="ngModel"
        placeholder="Jhon@gmail.com"
        required
      />
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select name="gender" [(ngModel)]="employee.gender" required>
        <mat-option
          *ngFor="let gender of genders"
          [value]="gender.toLowerCase()"
          >{{ gender }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Salary</mat-label>
      <input
        type="number"
        name="salary"
        matInput
        [(ngModel)]="employee.salary"
        required
        min="0"
      />
    </mat-form-field>

    <div id="form-buttons">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!addEmployeeForm.valid"
      >
        Update Employee
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>
</div>
