<div id="sign-main">
  <form #loginForm="ngForm" class="sign-form" (ngSubmit)="onSubmit()">
    <h3 style="color: white">Please log in to manage employees</h3>
    <mat-form-field class="example-full-width">
      <mat-label> Username</mat-label>
      <input
        matInput
        placeholder="Ex. Jhon"
        name="username"
        [(ngModel)]="user.username"
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label> Password</mat-label>
      <input
        type="password"
        matInput
        name="password"
        ngModel
        [(ngModel)]="user.password"
        required
      />
    </mat-form-field>

    <div id="form-buttons">
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
        Log in
      </button>
      <br />
      <p style="color: white">Don't have an account ?</p>
      <button routerLink="signup" mat-raised-button>Sign up</button>
    </div>
  </form>
</div>
