<div id="sign-main">
  <form class="sign-form">
    <mat-form-field class="example-full-width">
      <mat-label> Username</mat-label>
      <input type="text" matInput placeholder="Ex. Jhon" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label> email</mat-label>
      <input type="email" matInput placeholder="Jhon@gmail.com" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label> Password</mat-label>
      <input type="password" matInput />
    </mat-form-field>

    <div id="form-buttons">
      <button mat-raised-button color="primary">Sign up</button>
      <br />
      <p style="color: white">Already have have an account ?</p>
      <button  routerLink="" mat-raised-button>Sign in</button>
    </div>
  </form>
</div>
